<div ng-controller="RegisterController">
    <form novalidate name="registerForm" class="form" ng-model="registerForm" ng-submit="submit()">
        <div class="form-group">
            <label for="register-email">Email address</label>
            <input ng-model="registerEmail" name="email" class="form-control" id="register-email" placeholder="Email" required>
        </div>
        <div class="form-group">
            <label for="register-fraction-color">Fraction color</label>
            <input color ng-model="registerColor" name="color" class="form-control" id="register-fraction-color" ng-change="updateColor()">
        </div>
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary btn-lg">
        </div>
    </form>
    <div style="width:20px; height:20px;" ng-style="backgroundColor">
    </div>
</div>

